    .Cours {
       
        display : grid;
        flex-direction: row;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        justify-content: space-between;
        //flex-wrap: wrap;

        article {
            display : flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            border : 1px inset #FFF8DC;
            //border-style: inset;
            width : 95%;
            margin : 1%;
            padding  : 1rem;
            text-align : center;
            background-color: #F0FFFF;
            
            p {
                margin: .4rem;
                font-size: 1rem;
                color: darkseagreen;
            }
            a {
                font-size: 1.5rem;
                font-weight: bold;
                text-decoration: none;
                color: cadetblue;
                //transform: rotate(-90deg);
            }
        }
        article:active{
            background-color: #ADD8E6;
        }
}
        @include tablet {
            article {
                width : 47%;
                margin : 1%;

                a{
                    transform: rotate(-90deg);
                }
            }
        }
        @include desktop {
            article {
            width : 31%;
            margin : 1%;
            }
        }
    
